{{ $icon_size := "32px" }}

<div class='bio'>
  <img
    alt='{{ .Site.Params.author }}'
    class='face'
    src='/blogging/assets/face.jpg'
    width='80px'
    height='80px'
  />
  <div>
    <strong>
      Personal Blog by
      <a
        class='self'
        href='https://github.com/{{ .Site.Params.social.github }}'
        rel='noopener noreferrer'
        target='_blank'
      >{{ .Site.Params.author }}</a>
    </strong>
    <span>{{ .Site.Params.description }}</span>
    <strong>
      Projects
    </strong>

    <a
      alt='Photos'
      href='https://dylan.is/photos'
      rel='noopener noreferrer'
      target='_blank'
      title='Photos'
    >Photos</a>
    •
    <a
      alt='Crossword'
      href='https://dylan.is/crossword/'
      rel='noopener noreferrer'
      target='_blank'
      title='Crossword'
    >Crossword</a>

    <div class='break'></div>
    <strong>
      Socials
    </strong>

    <a
      alt='Github'
      href='https://github.com/{{ .Site.Params.social.github }}'
      rel='noopener noreferrer'
      target='_blank'
      title='Github'
    >{{ partialCached "svg/github.svg" (dict "size" $icon_size) $icon_size }}</a>
    <a
      alt='Instagram'
      href='https://instagram.com/{{ .Site.Params.social.instagram }}'
      rel='noopener noreferrer'
      target='_blank'
      title='Instagram'
    >{{ partialCached "svg/instagram.svg" (dict "size" $icon_size) $icon_size }}</a>
    <a
      alt='LinkedIn'
      href='https://linkedin.com/in/{{ .Site.Params.social.linkedin }}'
      rel='noopener noreferrer'
      target='_blank'
      title='LinkedIn'
    >{{ partialCached "svg/linkedin.svg" (dict "size" $icon_size) $icon_size }}</a>
    <a
      alt='Email'
      href='mailto:{{ .Site.Params.social.email }}'
      rel='noopener noreferrer'
      target='_blank'
      title='Email'
    >{{ partialCached "svg/mail.svg" (dict "size" $icon_size) $icon_size }}</a>
  </div>
</div>
